<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.foodgeene">

    <application
        android:name="network.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_lancher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_lancher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <receiver
            android:name="network.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".viewpagers.PaperOnboarding">

        </activity>
        <activity android:name=".preoder.ui.PreOrder" />
        <activity android:name=".allhotels.ui.AllRestraunts" />
        <activity android:name=".foodpreference.ui.AfterOrder" />
        <activity android:name=".transactionlists.CoinsTransactionsList" />
        <activity android:name=".reginew.PhaseOne" />
        <activity android:name=".updatepropic.UpdateProfilePicture" />
        <activity android:name=".forgot.ChangePassword" />
        <activity android:name=".forgot.VerifyPasswors" />
        <activity android:name=".orderratings.RatingsActivity" />
        <activity android:name=".redeemedlistdetails.RedeemedListDetails" />
        <activity android:name=".coinstransactions.CoinsTransaction" />
        <activity android:name=".rewarddetails.RewardsDetails" />
        <activity android:name=".rewards.Rewards" />
        <activity android:name=".welcomescreen.Welcome" />
        <activity android:name=".restraunt.SignupOtp" />
        <activity android:name=".cart.OrderDetails" />
        <activity android:name=".updateprofile.UpdateProfile" />
        <activity android:name=".success.PodSuccess" />
        <activity android:name=".payment.PaymentMethod" />
        <activity android:name=".success.SuccessActivity" />
        <activity android:name=".restraunt.RestrauntActivity" />
        <activity android:name=".scanner.ScannerResult" />
        <activity android:name=".scanner.ScannerActivity" />
        <activity android:name=".forgot.ForgotActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".register.RegistrationActivity" />
        <activity android:name=".splashScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".payment.Checksum" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />

        <service android:name=".firebaseservices.FirebaseStoreToken">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".selfnotifyinactives.CheckRecentRun" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/notification_icon" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorPrimary" />
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

</manifest>